img {
width: 30%;
height: 30%;
box-shadow: 4px 4px 4px;
max-width: 100%;
}

body {
  background-color: rgb(212, 206, 206);
  font-size: 120%;
  padding: 1%;
}

h1, h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0.25rem;
}

header {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
 }

header h2 {
font-size: 120%;
}

header h1 {
font-size: 175%;
}

figcaption {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 2px;
  font-size: 0.6rem;
  margin: 0.25rem;
}

p {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .tommiheadshot {
  text-align: center;
  float: right;
  max-width: 100%;
 }

.two-column {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.carousel-column {
  flex: 2;
  width: 65%;
}

.content-column {
  flex: 1;
  width: 35%;
}

@media screen and (max-width: 768px) {
  .two-column {
    flex-direction: column;
  }

  .carousel-column,.content-column {
    width: 100%;
    flex: none; }
}
 
 .tommiheadshot img {
border: 1rem;
border-radius: 10%;
  width: 100px;
  height: 100px;
  object-fit: cover;
 }

 main {
  max-width: 70rem;
  margin: 0 auto;
  line-height: 1.4;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
 }

 footer {
  background-color: gray;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 footer a {
  font-size: 1.25rem;
  color: black;
 }

 footer a:hover {
  color: blue;
  background-color: darkgrey;
  padding: 0.2rem;
 }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
  }

  .navbar li a {
    display: flex;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar li a:hover {
    background-color: #555;
  }

  .carousel-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  background-color: black;
  padding: 10px;
  box-sizing: border-box;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item1, .carousel-item2, .carousel-item3, .carousel-item4, .carousel-item5,.carousel-item6 {
  flex: 0 0 100%;
  width: 100%;
  height: 800px;
  background-color: black;
  scroll-snap-align: center;
  animation: slide-animation 10s infinite;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

